<div class="stepper-wrapper">
    <div class="stepper-item completed">
      <div class="step-counter">1</div>
      <div class="step-name">Select Date</div>
  </div>
    <div class="stepper-item active">
      <div class="step-counter">2</div>
      <div class="step-name">Fill all Fields</div>
    </div>
    <div class="stepper-item active">
      <div class="step-counter">3</div>
      <div class="step-name">All Fields are filled</div>
    </div>
    <div class="stepper-item">
      <div class="step-counter">4</div>
      <div class="step-name">Confirmation Reserve</div>
    </div>
 </div>