body{
  padding: 50px;
}
.modal-dialog {
  width: 250px;
}
.modal-footer {
  height: 70px;
  margin: 0;
}

.modal-footer .progress {
  display: none;
  height: 32px;
  margin: 0;
}
.input-group-addon {
  color: #fff;
  background: #3276B1;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  z-index: 100;
  bottom: 361px;
  left: 150px;
  background: rgb(250, 251, 252);
  width: 340px;
  height: 400px;
  animation:  3s ease-in 1s  reverse both running slidetop;
  flex-direction: row-reverse;
}

@keyframes slidetop {
  from{
    margin-right: 100%;
    width:300%;
  }

  to{
    margin-left:10%;
    width: 100%;
  }
}

.control-label{
  font-family: sans-serif;
  font-size: 10px;
  margin-top: 3px;
}

.form-control{
  border-radius: 1.1em;
  width:280px
}

.form-control-btn{
  width: 235px;
  font-size: 12px;
  font-family:initial;
  border-radius: 1.1em;
  border:solid;
  border-width: 0.5px;
  border-color: rgb(206, 222, 221);
  left:110px;
  cursor: pointer;

}

.icon{
  cursor: pointer;
  z-index: 2;
  font-size: 22px;
}

.label{
  font-size: 12px;
  font-weight:unset
}