
body {
    width: 340px;
    margin: 0 auto;
    padding: 35px;
  }
  
  div.elem-group {
    margin: 9px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    padding-bottom: 10px;
    font-size: 0.8em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 0.8em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 85%;
    display: inline-block;
  }
  
  textarea {
    height: 70px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background:rgb(84, 109, 138);
    border: none;
    color: white;
    font-size: 1.0em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    border: 2px solid rgb(84, 109, 138);
  }