<div class="modal-body">
  <form method="post" role="form" class="Form">      
         
    <fa-icon class="icon" [icon]="faWindowClose" (click)="Zatvori()"></fa-icon>               <!-- Password input with required star -->
    <div class="form-group">

        <label for="name" class="control-label"  id="name" >Name <span class="required-field"></span></label>
        <div class="has-feedback">

          <input type="name" class="form-control" id="name" name="name"  [(ngModel)]="valueName" (change)="getName()">

        </div>
       </div>

       <label for="name" class="control-label" id="surname">Surname <span class="required-field"></span></label>
        <div class="has-feedback">

          <input type="surname" class="form-control" id="surname" name="surname" [(ngModel)]="valueSurname" (change)="getSurname()">
        </div>
  
                                  <!-- Password input with required star -->
<div class="form-group">

       <label for="email" class="control-label" id="email">Email <span class="required-field"></span></label>
         <div class="has-feedback">

    <input type="email" class="form-control" id="mail" name="mail" [(ngModel)]="valueEmail" (change)="getEmail()">
  
     </div>
 </div>


 <div class="form-group">

  <label for="number" class="control-label" id="form_attorneylitigant_login_password_error">Phone <span class="required-field"></span></label>
    <div class="has-feedback">

    <input type="number" class="form-control" id="number" name="number" [(ngModel)]="valuePhone" (change)="getPhone()"/>

 <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
</div>
</div>

      <label for="password1" class="control-label" id="form_attorneylitigant_login_password_error">Password <span class="required-field"></span></label>
        <div class="has-feedback">

    <input type="password" class="form-control" id="password" name="password"[(ngModel)]="valuePassword" (change)="getPassword()"/>

      <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
  </div>
        
  <label for="checkIn" class="control-label" id="CheckIn">CheckIn <span class="required-field"></span></label>
    <div class="has-feedback">

<input type="text" class="form-control" id="checkIn" name="CheckIn"[(ngModel)]="valueCheckIn" (change)="getCheckin()"/>

  <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
</div>
    

  <label for="checkOut" class="control-label" id="CheckOut">CheckOut <span class="required-field"></span></label>
<div class="has-feedback">

<input type="text" class="form-control" id="checkOut" name="CheckOut"[(ngModel)]="valueCheckOut" (change)="getCheckOut()"/>

  <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>

  <label class="label">PickedDate <span> </span>  {{pickedDate}}  January </label>
</div>
        

      <div class="Progres-Bar">
        <progress-bar></progress-bar>
      </div>

      <div class="modal-footer">
        <button type="submit" class="form-control-btn" (click)="CheckField()">Confirmation Reserve</button>
  
      </div> <!-- /.modal-footer -->

  </form>


  <div class="success-animation">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    </div>
