
<div class="container">
  <div class="header">
    <div class="LeviDiv">
      <label>{{ curentD.day + '/' + curentD.monthID + '/' +  curentD.year.toString()}}</label>
    <div class="CentralniDiv">
      <fa-icon [icon]="faAngleLeft" (click)="PromeniMesec(-1)"></fa-icon>
      <label class="Labela">{{Months[curentD.monthID].text}}</label>
      <fa-icon [icon]="faAngleRight" (click)="PromeniMesec(1)"></fa-icon>
</div>
 
    <div class="DesniDiv">
      <input type="number" id="myNumber" step="1" [value]="curentD.year"
       min="2010" (change)="setYear($event)">  
    </div>
 
</div>
  </div>
  <div class="mainbody">
    <!-- <ul class="Lista" *ngFor="let Day of Days">
      <li>
        <span>{{this.Days}}</span>
      </li>
  </ul> -->
    <div class="PContainer" *ngFor="let Day of DaysI">{{Day.text}}</div>
    <div class="PContainer" *ngFor="let Day of DaysII ; let i=index;">{{Day?.text}}</div>
  </div>
</div> 